/bg.mp4 filter=lfs diff=lfs merge=lfs -text
/parts/10/bg.mp4 filter=lfs diff=lfs merge=lfs -text
/parts/11/bg.mp4 filter=lfs diff=lfs merge=lfs -text
/parts/12/bg.mp4 filter=lfs diff=lfs merge=lfs -text
/parts/13/bg.mp4 filter=lfs diff=lfs merge=lfs -text
/parts/14/bg.mp4 filter=lfs diff=lfs merge=lfs -text
/parts/15/bg.mp4 filter=lfs diff=lfs merge=lfs -text
/parts/16/bg.mp4 filter=lfs diff=lfs merge=lfs -text
/parts/17/bg.mp4 filter=lfs diff=lfs merge=lfs -text
/parts/18/bg.mp4 filter=lfs diff=lfs merge=lfs -text
/parts/19/bg.mp4 filter=lfs diff=lfs merge=lfs -text
/parts/2/bg.mp4 filter=lfs diff=lfs merge=lfs -text
/parts/20/bg.mp4 filter=lfs diff=lfs merge=lfs -text
/parts/21/bg.mp4 filter=lfs diff=lfs merge=lfs -text
/parts/22/bg.mp4 filter=lfs diff=lfs merge=lfs -text
/parts/23/bg.mp4 filter=lfs diff=lfs merge=lfs -text
/parts/24/bg.mp4 filter=lfs diff=lfs merge=lfs -text
/parts/25/bg.mp4 filter=lfs diff=lfs merge=lfs -text
/parts/26/bg.mp4 filter=lfs diff=lfs merge=lfs -text
/parts/27/bg.mp4 filter=lfs diff=lfs merge=lfs -text
/parts/28/bg.mp4 filter=lfs diff=lfs merge=lfs -text
/parts/29/bg.mp4 filter=lfs diff=lfs merge=lfs -text
/parts/3/bg.mp4 filter=lfs diff=lfs merge=lfs -text
/parts/4/bg.mp4 filter=lfs diff=lfs merge=lfs -text
/parts/5/bg.mp4 filter=lfs diff=lfs merge=lfs -text
/parts/6/bg.mp4 filter=lfs diff=lfs merge=lfs -text
/parts/7/bg.mp4 filter=lfs diff=lfs merge=lfs -text
/parts/8/bg.mp4 filter=lfs diff=lfs merge=lfs -text
/parts/9/bg.mp4 filter=lfs diff=lfs merge=lfs -text
